<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Yeonjoon Choi</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="Home">Home</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/ckjoon" target="_blank">
        <i class="fab fa-github ml-2"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/yeonjoon-choi/" target="_blank">
        <i class="fab fa-linkedin ml-2"></i>
      </a>
      <a class="nav-item nav-link" href="https://medium.com/@ckjoon" target="_blank">
        <i class="fab fa-medium ml-2"></i>
      </a>
    </div>
  </div>
</nav>